.root {
  background-color: var(--lavender);
  padding: 80px 30px 120px;

  h1 {
    font-size: 4rem;
  }
}

// SearchBar.tsx
.searchbar-container {
  input {
    border-radius: 8px;
    font-size: 20px;
    padding: 1rem;
    
/* TODO: left off here */
    &:focus {
      outline: none;
      border-color: blue;
    }
  }
}